body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.f-weight500 {
    font-weight: 500;
}

.f-weight600 {
    font-weight: 600;
}

.f-size16 {
    font-size: 16px;
}

.f-size18 {
    font-size: 18px;
}

.f-size24 {
    font-size: 24px;
}

.f-size36 {
    font-size: 36px;
}

.f-size48 {
    font-size: 48px;
}

.f-size64 {
    font-size: 64px;
}

p,h1,h2,h3,h4,h6 {
    margin: 0;
}

button {
    font-family: 'Poppins', sans-serif;
    border: 0;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.navbar {
    height: 84px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-logo {
    width: 122px;
}

.nav-logo img {
    width: 100%;
}

.nav-menu {
    flex: 1;
    justify-content: end;
    margin-right: 47px;
    display: flex;
    gap: 32px;
}

.nav-menu__item {
    text-decoration: none;
    color: #394149;
}

.first-button {
    color:  #F58A07;
    background-color: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    padding: 18px 30px;
}

.header-place {
    width: 100%;
    height: 703px;
    background-color: #DCEAF5;
}

.header-container {
    display: flex;
    flex-direction: row;
    gap: 53px;
    width: 1368px;
    margin: 0 auto;
    padding-top: 58px;
}

.header-text {
    width: 576px;
}

.header-text h1 {
    line-height: 72px;
    color: #1D3444;
    letter-spacing: -0.03em;
    padding-top: 59px;
}

.header-text__text1 {
    line-height: 30px;
    color: #5B5B5B;
    padding-top: 12px;
}

.header-buttons {
    display: flex;
    gap: 40px;
    flex-direction: row;
    padding-top: 32px;
}

.header-buttons__1 {
    color: #FFFFFF;
    background-color: #F58A07;
    padding: 18px 32px;
    border-radius: 27px;
}

.header-buttons__2{
    color: #1D3444;
    background-color: #DCEAF5;
}

.header-text__text2{
    font-weight: 400;
    color: rgba(57, 65, 73, 0.5);
    padding-top: 56px;
}

.header-logos {
    display: flex;
    flex-direction: row;
    gap: 46px;
    padding-top: 18px;
}

.header-img {
    flex: 1;
    align-self: flex-end;
}

.section-help {
    width: 100%;
    height: 740px;
    margin: 96px 0;
}

.section-help h2 {
    width: 735px;
    line-height: 56px;
    color: #1D3444;
    letter-spacing: -0.03em;
}

.section-help__text {
    width: 735px;
    line-height: 30px;
    color: #5B5B5B;
    padding-top: 27px;
}

.section-help-post {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    padding-top: 64px;
}

.help-post__item {
    flex: 1;
}

.help-post__item img {
    border-radius: 20px;
}

.help-post__item-title {
    letter-spacing: -0.03em;
    color: #0D1317;
    padding-top: 33px;
}

.help-post__item-text {
    line-height: 28px;
    color: #5B5B5B;
    padding-top: 17px;
}

.help-post__item button {
    color: #F58A07;
    background-color: #FFFFFF;
    padding-top: 24px;
}

.solution-section {
    width: 100%;
    height: 665px;
    background-color: #EDF7FF;

}

.sec-sol-assist {
    display: flex;
    flex-direction: column;
    padding: 96px 0;
}

.sec-sol-text {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.sec-sol-text h3 {
    flex: 1;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.sec-sol-text__text {
    flex: 1;
    line-height: 30px;
    color: #1D3444;
}

.sec-sol__post {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
    padding-top: 64px;
}

.sec-sol__post-item {
    background-color: #FFFFFF;
    border-radius: 20px; 
    padding: 40px 26px 37px 38px;
    display: flex;
    flex-direction: column;
}

.sec-sol__post-logo {
    align-items: baseline;
}
.sec-sol__post-title {
    letter-spacing: -0.03em;
    color: #0D1317;
    padding-top: 32px;
    align-items: baseline;
}

.sec-sol__post-text {
    line-height: 28px;
    color: #5B5B5B;
    padding-top: 16px;
    align-items: baseline;
}

.section-experience {
    display: flex;
    flex-direction: row;
    gap: 47px;
    justify-content: space-between;
    margin-top: 99px;
}

.sec-exp__text h2 {
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    padding-top: 67px;
}

.sec-exp__text-text {
    line-height: 30px;
    color: #5B5B5B;
    padding-top: 32px;
}

.sec-exp__text-post {
    display: flex;
    flex-direction: row;
    gap: 26px;
    justify-content: space-between;
    padding-top: 48px;
}

.sec-exp__post-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sec-exp-__post-num {
    font-weight: 700;
    color: #F58A07;
}

.sec-exp__post-item h6 {
    letter-spacing: -0.03em;
    color: #0D1317;
}

.sec-exp-__post-text {
    line-height: 28px;
    color: #5B5B5B;
}

.section-research {
    background-color: #EDF7FF;
    height: 682px;
    position: relative;
    padding: 48px;
    margin-top: 96px;
    border-radius: 20px;
}

.sec-re__ribbon {
    position: absolute;
    right: -16px;
    top: -16px;
}

.sec-re__tabs {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.sec-re__tabs-button {
    color: rgba(6, 50, 85, 0.3);
    padding: 8px 24px ;
    background-color:  #EDF7FF;
    border: 1px solid #A8BCCC;
    border-radius: 31px;
}

#sec-re__tabs-button1 {
    border: none;
    background-color: #FFFFFF;
    color: #F58A07;
}

.sec-re-assist {
    display: flex;
    flex-direction: row;
    gap: 140px;
    padding-top: 88px;
}

.sec-re-assist-text {
    flex: 1;
}

.sec-re-assist-img {
    flex: 1;
}

.sec-re-assist-text h2 {
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.sec-re-text__text {
   line-height: 30px;
   color: #5B5B5B;
   padding: 25px 0 40px 0;
}

.sec-re-assist-img {
    position: relative;
}

.sec-re-assist-img__color {
    position: absolute;
    height: 466px;
    width: 120px;
    background: #F58A07;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    border-radius: 20px 0 0 20px;
}

.sec-re-assist-text button {
    background-color: transparent;
    color: #F58A07;
}

.CTA-container {
    margin: 128px 0;
    width: 100%;
    height: 518px;
    display: flex;
    flex-direction: row;
}

.sec-cta-img {
    flex: 1; 
    background-image: url(./images/experience-image.png);
    background-repeat: no-repeat;
}

.sec-cta-img img {
    height: 100%;
}

.sec-cta-text {
    flex: 1;
    background-color: #F58A07;
    padding: 128px;
}

.sec-cta-text__text {
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin: 0;
}

.sec-cta-text button {
    margin-top: 40px;
    color: #F58A07;
    padding: 19px 32px;
    background-color: #FFFFFF;
    border-radius: 31px;
}

.section-dream {
    display: flex;
    flex-direction: row;
    margin: 128px 0;
    gap: 110px;
}

.sec-dream-text h2 {
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    padding-top: 78px;
}

.sec-dream-text__text {
    line-height: 30px;
    color: #5B5B5B;
    padding-top: 24px;
}

.sec-dream-text__person {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 40px;
}

.sec-dream__per-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sec-dream__per-name {
    color: #063255;
}

#sec-dream__per-work {
    color: #F58A07;
}

.sec-dream-video {
    position: relative;
}

.sec-dream-video__button {
    position: absolute;
    top: 410px;
    left: 40px;
    display: flex;
    flex-direction: row;
    gap: 17px;
    color: #FFFFFF;
    align-items: center;
}

.sec-dream-video__button button {

}

.sec-dream-video__button-icon {

}

.last-section {
    background-color: #DCEAF5;
    width: 100%;
    height: 819px;
}

.section-last h2 {
    padding-top: 96px;
    letter-spacing: -0,03em;
    color: #0D1317;
}

.sec-last__post {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.sec-last__post-item {
    padding-top: 64px;
}

.sec-last__post-img {
    border-radius: 20px 20px 0 0;
}

.sec-last__post-container {
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 0 0 20px 20px;
}

.sec-last__post-item h4 {
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0,03em;
    color: #0D1317;
}

.sec-last__post-text {
    line-height: 28px;
    color: #5B5B5B;
    padding-top: 16px;
}

.sec-last__post-item button {
    background-color: transparent;
    color: #F58A07;
    padding-top: 24px;
}

.footer {
    width: 100%;
    height: 463px;
    background-color: #063255;
    position: relative;
}

#footer-shape__left {
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer-shape__right {
    position: absolute;
    right: 0;
    top: 38px;
}

.section-footer {
    padding: 80px 0;
}

.footer-assist {
    display: flex;
    flex-direction: row;
    gap: 110px;
    color: #FFFFFF;
    justify-content: space-around;
}

.footer-assist__logos {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-assist__more {
    display: flex;
    flex-direction: column;
}

.footer-assist__subscribe {
    display: flex;
    flex-direction: column;
}

.footer-end {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-top: 80px;
    color: #FFFFFF;
}

.footer-end__text1 {
    flex-grow: 1;
}